
<div class="app-body">
    <div class="logo" id="logo">
        <img src="./images/logo.png">
        <div class="subtitle">
        <p class="blue ">一起背词根</p>
        <p class="blue " style="margin-top: 1em">作者：<a target="_blank" href="http://enet.zakelly.com">Zakelly</a></p>
        </div>
    </div>
    <div class="start-buttons start-buttons-absolute" id="start-buttons">
        <button ng-click="new()" class="btn btn-primary btn-block">
            重新开始背q(≧▽≦q)
        </button>
        <button ng-click="old()" class="btn btn-info btn-block">
            继续上次来
        </button>
    </div>
</div>

