
<div class="navbar navbar-app navbar-absolute-top">
    <div class="btn-group pull-left">
        <div class="btn" ng-click="return()">
            <i style="font-size: 1.4em; margin-left: 0.2em;" class="fa fa-home"></i>
        </div>
    </div>
    <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
        <span class="ng-scope">
            一起背词根(缀)
        </span>
    </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
    <div ng-if="!show_message" class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button ng-click="skipOne()" type="button" class="btn btn-primary"><i class="fa fa-exclamation-circle fa-navbar"></i> 等会再看一遍</button>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="passOne()" type="button" class="btn btn-primary"><i class="fa fa-check-circle fa-navbar"></i> 记住了</button>
        </div>
    </div>
    <div ng-if="show_message" class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button ng-click="continue()" type="button" class="btn btn-primary"><i class="fa fa-check-circle fa-navbar"></i> 继续</button>
        </div>
    </div>
</div>

<div class="app-body">
    <div class="content">
        <div id="page-morpheme" ng-if="!show_message">
            <legend class="head" ng-bind="morpheme.name"></legend>
            <div class="intent">
                <label class="blue" ng-bind="morpheme.explanation"></label>
                <br /><label ng-if="morpheme.examples">e.g.</label>
                <div class="intent" ng-repeat="example in morpheme.examples">
                    <label class="blue" ng-bind="example.word"></label>
                    <label ng-bind="example.explanation"></label>
                </div>
            </div>
            <legend>&nbsp;</legend>
            <label class="blue">下一个：</label><label ng-bind="next"></label>
        </div>
        <div id="page-info" ng-if="show_message">
            <label class="blue big-message" ng-bind="message"></label>
        </div>
    </div>
</div>
