.app-body {
    overflow: auto !important;
    background: white;
    padding-left: 2em;
    padding-right: 2em;
    .content {
        font-size: 1.2em;
        .head {
            font-size: 1.5em !important;
            margin-top: 0.7em;
        }
        .intent {
            padding-left: 1em;
        }
        .blue {
            color: slateblue;
        }
    }
    .big-message {
        font-size: 1.6em;
        margin-top: 4em;
        text-align: center;
    }
    .logo {
        text-align: center;
        margin-top: 4em;
    }
    .subtitle {
        font-size: 1.2em;
        margin-top: 25vh;
        right: 0;
    }
    .start-buttons {
        margin-bottom: 1em;
    }
    .start-buttons-absolute {
        position: absolute;
        bottom: 2em;
        width: 100%;
        padding: 0 4em 0 0;
    }

}
@media (max-width: 991px) {
    .navbar-brand-center {
        margin-left: 15%;
        width: 70%;
    }
}

